{% extends "base.html.twig" %}

{% block content %}
    <div class="text-center">
        <div class="page-header">
            <h1>403 <small>Необходима авторизация</small></h1>
        </div>
    </div>
    <div>
        <h3>К сожалению у вас недостаточно прав для этой страницы</h3>
        <h4>Проверьте что вы <a href="{{ generateUrl('admin.login') }}">зашли на сайт</a> как зарегистрированный пользователь</h4>
        <h4>Убедитесь, что у вас достаточно прав для посещения данной страницы</h4>
        <h4>Проверьте что вы переходите именно туда, куда нужно</h4>
        <h4>Убедитесь что адресс введен правильно</h4>
        <h4>Если все равно ничего нет - воспользуйтесь поиском</h4>
        <h4>Или попробуйте проверить позднее</h4>
    </div>
{% endblock %}
