{% extends "base.html.twig" %}

{% block content %}
    <div class="text-center">
        <div class="page-header">
            <h1>404 <small>Не найдено</small></h1>
        </div>
    </div>
    <div>
        <h3>К сожалению тут нет страницы, что вы пытаетесь нати</h3>
        <h4>Проверьте что вы переходите именно туда, куда нужно</h4>
        <h4>Убедитесь что адресс введен правильно</h4>
        <h4>Если все равно ничего нет - воспользуйтесь поиском</h4>
        <h4>Или попробуйте проверить позднее</h4>
    </div>
{% endblock %}
