{% extends "base.html.twig" %}

{% block keywords %}кпмо, документ, отчет, план, программа, договор{% endblock %}
{% block description %}
    Официальная документация ЛМИ.
    Рабочие программы, учебные планы, поурочные разработки,
    КПМО, годовые календарные графики, публичные отчеты.
{% endblock %}
{% block title %}Список документов{% endblock %}

{% block content %}
    <legend>Список документов</legend>
    <table class="table table-striped table-hover">
        <tbody>
            {% for document in documents %}
                <tr>
                    <td>{{ document.name }}</td>
                    <td>
                        <a class="pull-right" href="{{ document.urlToDownload }}">
                            <i class="fa fa-download fa-2x"></i>
                        </a>
                    </td>
                    <td>
                        {% if document.type == 1 %}
                            <span class="label label-info">КПМО</span>
                        {% elseif document.type == 2 %}
                            <span class="label">Образование</span>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if documents %}
        {% include "pagination.htm.twig" with {
            currentPage: page,
            lastPage: documents|length < perPage,
            router: router,
            routeName: 'documents.list'
        } %}
    {% endif %}
{% endblock %}
