<div id="banner-list">
    <ul class="list-unstyled list-inline">
        <li>
            <div>
                <a href="http://xn--80abucjiibhv9a.xn--p1ai/">
                    <img src="http://xn--80abucjiibhv9a.xn--p1ai/static/img/banner/rect.gif" alt="Министерство образования и науки Российской Федерации">
                </a>
            </div>
        </li>
        <li>
            <div>
                <a href="http://www.saripkro.ru/list.php?c=mon2">
                    <img src="http://www.saripkro.ru/imgr/7.gif">
                </a>
            </div>
        </li>
        <li>
            <div>
                <a href="http://saratov.gov.ru/">
                    <img src="http://lmi-school.ru/image/other/sar_gov_logo.png">
                </a>
            </div>
        </li>
        <li>
            <div>
                <a href="http://www.minobr.saratov.gov.ru/">
                    <img src="http://lmi-school.ru/image/other/sar_minobr.png">
                </a>
            </div>
        </li>
        <li>
            <div>
                <a href="http://soiro.ru/">
                    <img src="http://soiro.ru/sites/all/themes/saripkro/logo.png">
                </a>
            </div>
        </li>
        <li>
            <div>
                <a href="http://museum.seun.ru/NFPK/index.php">
                    <img src="http://museum.seun.ru/NFPK/nfp.gif">
                </a>
            </div>
        </li>
        <li>
            <div>
                <a href="http://egeinfo.ru/">
                    <img src="http://egeinfo.ru/img/all_ege0.gif">
                </a>
            </div>
        </li>
        <li>
            <div>
                <a href="http://irbis-uni.ru/">
                    <img src="http://lmi-school.ru/image/other/irbis.gif">
                </a>
            </div>
        </li>
        <li>
            <div>
                <a href="http://www.fond-detyam.ru/detskiy-telefon-doveriya/">
                    <img src="http://www.fond-detyam.ru/upload/fond/904/02.png">
                </a>
            </div>
        </li>
        <li>
            <div>
                <a href="http://минобрнауки.рф/%D0%B4%D0%BE%D0%BA%D1%83%D0%BC%D0%B5%D0%BD%D1%82%D1%8B/336">
                    <img src="http://lmi-school.ru/image/fgos_noo.jpg">
                </a>
            </div>
        </li>
        <li>
            <div>
                <a href="http://www.gosuslugi.ru/">
                    <img src="http://gosuslugi.ru/common/img/banners/banner_pgu_245x97.gif">
                </a>
            </div>
        </li>
        <li>
            <div>
                <a href="http://www.social.saratov.gov.ru/detskiy_telefon_doveriya/">
                    <img src="http://www.social.saratov.gov.ru/detskiy_telefon_doveriya/images/detskij_telefon_doverija_550x306.jpg">
                </a>
            </div>
        </li>
        <li>
            <div>
                <a href="http://своими-словами.рф/">
                    <img src="http://своими-словами.рф/templates/svsl/images/logo.png">
                </a>
            </div>
        </li>
        <li>
            <div>
                <a href="http://www.lmi-time.com/">
                    <img src="https://img-fotki.yandex.ru/get/16116/225509465.10/0_f93e8_4a4666a8_M.png">
                </a>
            </div>
        </li>
    </ul>
</div>
