<div id="banner-list">
    <ul class="list-unstyled list-inline">
        <li>
            <div>
                <a href="http://xn--80abucjiibhv9a.xn--p1ai/">
                    <img src="http://xn--80abucjiibhv9a.xn--p1ai/static/img/banner/rect.gif" alt="Министерство образования и науки Российской Федерации">
                </a>
            </div>
        </li>
        <li>
            <div>
                <a href="#">
                    <img src="http://www.saripkro.ru/imgr/7.gif">
                </a>
            </div>
        </li>
        <li>
            <div>
                <a href="#">
                    <img src="http://www.saripkro.ru/imgr/8.gif">
                </a>
            </div>
        </li>
        <li>
            <div>
                <a href="#">
                    <img src="http://lmi-school.ru/image/other/sar_gov_logo.png">
                </a>
            </div>
        </li>
        <li>
            <div>
                <a href="#">
                    <img src="http://lmi-school.ru/image/other/sar_minobr.png">
                </a>
            </div>
        </li>
        <li>
            <div>
                <a href="#">
                    <img src="http://soiro.ru/sites/all/themes/saripkro/logo.png">
                </a>
            </div>
        </li>
        <li>
            <div>
                <a href="#">
                    <img src="http://museum.seun.ru/NFPK/nfp.gif">
                </a>
            </div>
        </li>
        <li>
            <div>
                <a href="#">
                    <img src="http://lmi-school.ru/image/other/ege_info_logo.png">
                </a>
            </div>
        </li>
        <li>
            <div>
                <a href="#">
                    <img src="http://lmi-school.ru/image/other/irbis.gif">
                </a>
            </div>
        </li>
        <li>
            <div>
                <a href="#">
                    <img src="http://cosh21.narod.ru/internet_1.jpg">
                </a>
            </div>
        </li>
        <li>
            <div>
                <a href="#">
                    <img src="http://lmi-school.ru/image/fgos_noo.jpg">
                </a>
            </div>
        </li>
        <li>
            <div>
                <a href="#">
                    <img src="http://gosuslugi.ru/common/img/banners/banner_pgu_245x97.gif">
                </a>
            </div>
        </li>
    </ul>
</div>
