<nav>
    <ul class="pager">
        <li class="{{ currentPage == 1 ? "disabled" : "" }}">
            <a href="{{ generateUrl(routeName, {'options': {'page': page - 1}}) }}">&larr; Предыдущая</a>
        </li>
        <li class="{{ lastPage ? "disabled" : "" }}">
            <a href="{{ generateUrl(routeName, {'options': {'page': page + 1}}) }}">Следущая &rarr;</a>
        </li>
    </ul>
</nav>
